body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: .6rem;
  color: #828282;

  height: 100%;
  width: 100%;
  min-height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:hover,
button:focus {
  outline: 0 none !important;
}

.container-fluid {
  max-width: 1920px;
}

.container {
  max-width: 1920px;
}